.OrderResult {
  position: fixed;
  bottom: 0;
  inline-size: 95%;
  margin-inline: 20px;
  block-size: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 10px 4px #ccc;
  background-color: white;
  overflow: hidden;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;

    & div {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      gap: 5px;
      inline-size: 100%;
      block-size: 100%;
      & b {
        font-size: 1.2rem;
      }

      & > span {
        font-size: 0.9rem;
        color: #505050;
      }

      & button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #da1a32;
        padding: 0;
        inline-size: 100%;
        block-size: 100%;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #f12840;
        }

        & span {
          font-size: 0.8rem;
        }
        & span:first-child {
          font-size: 1.3rem;
        }
      }
    }

    & div:nth-last-child(n + 2) {
      border-right: 2px solid #ccc;
      padding: 10px 20px;
    }
  }
}
