.PizzaInfo {
  padding: 20px;
  & dl {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    & dt {
      font-size: 2rem;
      font-weight: 600;
    }
    & dd {
      color: rgb(77, 77, 77);
    }
    & figure {
      inline-size: 400px;
      aspect-ratio: 1/1;
    }
  }
}
